p{
    background-color: rgb(186, 155, 112);
}
a{
    background-color: rgb(196, 247, 169);
}
div{
    background-color: rgb(225, 184, 129);
}
span{
    background-color: rgb(209, 209, 242);
}